// Tipografía

$montserrat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// Colores

$bg-maincolor: #FFC971;
$nav-background-color: #222;
$nav-foreground-color: #fff;
$nav-hover-color: #444;
