div.parrilla-season
  ul.list-season
    li.list-item-season
      div.list-content-season
        h2 Moteles
        iframe(src="https://www.youtube.com/embed/ezNh9YfLVmg?autoplay=0")
    li.list-item-season
      div.list-content-season
        h2 Mecánicos
        iframe(src="https://www.youtube.com/embed/61Lm5z-B8Ek?autoplay=0")
    li.list-item-season
      div.list-content-season
        h2 Rusos
        iframe(src="https://www.youtube.com/embed/HFNxUddIntM?autoplay=0")
    li.list-item-season
      div.list-content-season
        h2 Amasijos
        iframe(src="https://www.youtube.com/embed/gmZKXxvBgAc?autoplay=0")
    li.list-item-season
      div.list-content-season
        h2 Héroes criollos
        iframe(src="https://www.youtube.com/embed/g-l2dyAxbKY?autoplay=0")
    li.list-item-season
      div.list-content-season
        h2 Misceláneas
        iframe(src="https://www.youtube.com/embed/bUY_Lg9u8VQ?autoplay=0")
    li.list-item-season
      div.list-content-season
        h2 Economía Criolla
        iframe(src="https://www.youtube.com/embed/CljSKDsr3pY?autoplay=0")
    li.list-item-season
      div.list-content-season
        h2 Los escarabajos
        iframe(src="https://www.youtube.com/embed/PNqsLlWJos8?autoplay=0")
    li.list-item-season
      div.list-content-season
        h2 Perros criollos
        iframe(src="https://www.youtube.com/embed/6V9wKRjAvHc?autoplay=0")
