nav
  ul
    li 
      a(href="#") 
        i.fa.fa-youtube-play.fa-2x
    li 
      a(href="presentador.html") 
        i.fa.fa-user.fa-2x
    li 
      a(href="#") 
        i.fa.fa-television.fa-2x
    li 
      a(href="#") 
        i.fa.fa-question.fa-2x
