html
  include ./partials/head.jade
  body
    include ./partials/nav.jade  
    div.profile
      div.bg-color-profile
      div.profile-content
        div.image
        div.head
          section.name 
            h1 Santiago Rivas
          section.headline 
            h2 Presentador Los Puros Criollos
