html
  include ./partials/head.jade
  body
    include ./partials/nav.jade  
    div.profile
      div.bg-color-profile
      div.profile-content
        div.image
        div.head
          section.name 
            h1 Santiago Rivas
          section.headline 
            h2 Presentador Los Puros Criollos
        div.body
          section.bio-container
            div.bio 
              p Este bogotano ha sido profesor, hace parte de los creadores de la fiesta La Recontra, ha administrado el negocio familiar (inventar crucigramas y otros pasatiempos) y es presentador de uno de los programas más influyentes en la cultura colombiana.
              p Su infancia la vivió en Suba y al igual que todos los hombres de su familia Santiago Rivas Camargo estudió en el Gimnasio Campestre.
          section.datos-curiosos 
            h2 Datos Curiosos
            ul.datos
              li.datos-item Hincha de Santafecito Lindo
              li.datos-item Crucigramero
              li.datos-item Profesor de arte
          section.redes-sociales
            h2 Redes Sociales
            ul.inline-apps
              li 
                a(href="#") 
                  i.fa.fa-facebook.fa-3x
              li 
                a(href="https://twitter.com/rivas_santiago") 
                  i.fa.fa-twitter.fa-3x
              li 
                a(href="#") 
                  i.fa.fa-google-plus.fa-3x
