html
  include ./partials/head.jade
  body
    include ./partials/nav.jade  
    div.season
      div.bg-color-season
      div.season-content
        div.video-title Temporada 3
        include ./partials/grid-t1.jade
